header {
  background-color: #00c684;
  padding: 20px 35px;
  width: 100%;
  position: fixed;
  top: 0; 
  margin-bottom: 100px;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 32px;
  color: #ffffff;
}
